
__pycache__/app.cpython-39.pyc
__pycache__/config.cpython-39.pyc
config.py
migrations/__pycache__/env.cpython-39.pyc
migrations/versions/270624f8bd53_initial_migration.py
migrations/versions/37a431ed7528_initial_migration.py
migrations/versions/62ad3f93e927_add_artist_genre.py
migrations/versions/6354a06c8d7f_add_name_for_artist_and_venue_in_show.py
migrations/versions/674858926c66_.py
migrations/versions/7dbb2d4ddd09_add_website_in_venue.py
migrations/versions/80c8f5635266_.py
migrations/versions/__pycache__/270624f8bd53_initial_migration.cpython-39.pyc
migrations/versions/__pycache__/37a431ed7528_initial_migration.cpython-39.pyc
migrations/versions/__pycache__/62ad3f93e927_add_artist_genre.cpython-39.pyc
migrations/versions/__pycache__/6354a06c8d7f_add_name_for_artist_and_venue_in_show.cpython-39.pyc
migrations/versions/__pycache__/674858926c66_.cpython-39.pyc
migrations/versions/__pycache__/7dbb2d4ddd09_add_website_in_venue.cpython-39.pyc
migrations/versions/__pycache__/80c8f5635266_.cpython-39.pyc
migrations/versions/__pycache__/adf08dbb953f_add_show_type_to_show.cpython-39.pyc
migrations/versions/__pycache__/cb7bf67bd741_add_artist_genre.cpython-39.pyc
migrations/versions/__pycache__/d75593f84429_add_venue_id_to_show.cpython-39.pyc
migrations/versions/__pycache__/e6cadcf80fa6_add_genres.cpython-39.pyc
migrations/versions/adf08dbb953f_add_show_type_to_show.py
migrations/versions/cb7bf67bd741_add_artist_genre.py
migrations/versions/d75593f84429_add_venue_id_to_show.py
migrations/versions/e6cadcf80fa6_add_genres.py
Untitled Diagram.drawio
